<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamingZone Admin</title>
    <!-- Force config location -->
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
  </head>
  <body>
    <!-- Include the script that builds the page and powers Decap CMS -->
    <script>
      import DecapCMS from "decap-cms-app";
      import netlifyIdentity from "netlify-identity-widget";

      // Attach Identity to window for Decap to detect
      window.netlifyIdentity = netlifyIdentity;
      netlifyIdentity.init();

      // Initialize the CMS
      DecapCMS.init();
    </script>
  </body>
</html>
